* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: url(/starter-code/assets/destination/images/background-destination-desktop.jpg) no-repeat;
  background-size: cover;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slideDown 300ms ease-in forwards;
}

@keyframes slideDown{
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.logo {
  margin-left: 3%;
  margin-top: 3rem;
  cursor: pointer;
  opacity: 0;
  transform: translateX(-500%);
  animation: slideRight 300ms ease-in 300ms forwards;
}

@keyframes slideRight{
  0% {
    transform: translateX(-500%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.divider {
  display: flex;
  flex-grow: 1;
  background-color: #979797;
  height: 1px;
  margin-top: 3rem;
  margin-inline: 5px;
}

nav ul {
  margin-top: 3rem;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  backdrop-filter: blur(15px);
  padding-block: 2rem;
  padding-inline-start: 10%;
  padding-inline-end: 10%;
  background: rgba(255, 255, 255, 0.04);
  opacity: 0;
  transform: translateX(500%);
  animation: slideLeft 300ms ease-in 300ms forwards;
}

@keyframes slideLeft{
  0% {
    transform: translateX(500%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family:'Barlow Condensed', sans-serif;
  padding-block: 32px;
  transition: all 200ms ease-out;
}

nav ul li a:hover {
  border-bottom: 2px solid #979797;
}


.nav-num {
  font-weight: 600;
  margin-right: .5rem;
}

.current-page {
  border-bottom: 2px solid #ffffff;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pick-your-detination {
  margin-left: 10%;
  margin-top: 4rem;
  font-family:'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 400;
}

.pick-your-detination span {
  color: #3f3f3f;
  font-weight: 700;
}

.hero-container {
  color: #ffffff;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 4rem;
  margin-inline: 10%;
  gap: 2rem;
  margin-bottom: 4rem;
  opacity: 0;
  animation: fade 300ms ease-out 600ms forwards;
}

.text {
  margin-left: 5rem;
}

.image {
  background: url(/starter-code/assets/destination/images/image-moon.png) no-repeat;
  background-size: contain ;
  background-position: center;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 30s linear infinite;
}


.stars-nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.stars-nav ul li a {
  text-decoration: none;
  color: #D0D6F9;
  font-family:'Barlow Condensed', sans-serif;
  font-size: 20px;
  padding-block: 5px;
  transition: all 200ms ease;
}

.stars-nav ul li a:hover {
  border-bottom: 1px solid #979797;
}

.selected-star {
  border-bottom: 1px solid #ffffff;
}

.star {
  margin-top: 2rem;
  font-size: 100px;
  margin-bottom: 2rem;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  font-weight: 400;
}

.description {
  margin-bottom: 2rem;
  font-family:'Barlow Regular', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: #D0D6F9;
}

.time-distance {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  font-family: 'Barlow Condensed', sans-serif;
  color: #D0D6F9;
  text-transform: uppercase;
}

.value {
  font-family: 'Bellefair', serif;
  font-size: 28px;
  margin-top: 10px;
  color: #ffffff;
}

.hamburger {
  display: none;
}

@media screen and (max-width:840px) {
  body {
    background: url(/starter-code/assets/destination/images/background-destination-tablet.jpg) no-repeat;
    background-size: cover;
  }
  
  nav ul {
    padding-inline-start: 5%;
    padding-inline-end: 5%;
    margin-top: 0;
  }

  .logo {
    margin-top: 0;
  }

  .nav-num {
    display: none;
  }

  .divider {
    display: none;
  }

  .pick-your-detination {
    margin-left: 1rem;
    font-size: 20px;
  }

  .hero-container {
    grid-template-columns: 100%;
    margin-top: 5rem;
    gap: 5rem;
  }

  .text {
    margin-inline: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image {
    height: 22rem;
  }

}


@media screen and (max-width:550px) {
  body {
    position: relative;
    background: url(/starter-code/assets/destination/images/background-destination-mobile.jpg) no-repeat;
    background-size: cover;
  }

  nav {
    margin-inline: 10%;
    position: relative;
    z-index: 3;
  }


  .logo {
    margin-top: 3rem;
  }

  .hamburger {
    display: flex;
    margin-top: 3rem;
    color: #ffffff;
    z-index: 2;
    cursor: pointer;
    font-size: 30px;
    transition: all 200ms ease;
    z-index: 5;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 70vw;
    padding-block-start: 10rem;
    opacity: 0;
    transition: all 300ms ease-in-out ;
    transform: translateX(0);
    animation: none;
    margin-inline-end: -3rem;
  }

  .nav-active {
    opacity: 1;
  }

  .current-page {
    border-bottom: 0;
  }

  .nav-num {
    display: flex;
  }

  nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .pick-your-detination {
    margin-inline: 10%;
    text-align: center;
  }

  .hero-container {
    margin-top: 4rem;
  }

  .image {
    height: 15rem;
  }

  .star {
    font-size: 56px;
  }

  .stars-nav ul li a {
    font-size: 14px;
  }

  .description {
    font-size: 15px;
  }

  .time-distance {
    flex-direction: column;
  }

  .first-p {
    font-size: 16px;
  }

  .hero-text h1 {
    font-size: 80px;
  }

  .hero-text p {
    font-size: 15px;
  }

  .explore-container {
    height: 150px; width: 150px;
  }

  .explore button a {
    font-size: 20px;
  } 
}

