* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: url(background-home-desktop.jpg) no-repeat;
  height: 100%;
  background-size: cover;
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slideDown 300ms ease-in forwards;
}

@keyframes slideDown{
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.logo {
  margin-left: 3%;
  margin-top: 3rem;
  cursor: pointer;
  opacity: 0;
  transform: translateX(-500%);
  animation: slideRight 300ms ease-in 300ms forwards;
}

@keyframes slideRight{
  0% {
    transform: translateX(-500%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.divider {
  display: flex;
  flex-grow: 1;
  background-color: #979797;
  height: 1px;
  margin-top: 3rem;
  margin-inline: 5px;
}

nav ul {
  margin-top: 3rem;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  backdrop-filter: blur(15px);
  padding-block: 2rem;
  padding-inline-start: 10%;
  padding-inline-end: 10%;
  background: rgba(255, 255, 255, 0.04);
  opacity: 0;
  transform: translateX(500%);
  animation: slideLeft 300ms ease-in 300ms forwards;
}

@keyframes slideLeft{
  0% {
    transform: translateX(500%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family:'Barlow Condensed', sans-serif;
  padding-block: 32px;
  transition: all 200ms ease-out;
}

nav ul li a:hover {
  border-bottom: 2px solid #979797;
}


.nav-num {
  font-weight: 600;
  margin-right: .5rem;
}

.current-page {
  border-bottom: 2px solid #ffffff;
}

.hero-container {
  color: #ffffff;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 15rem;
  padding-bottom: 5rem;
  opacity: 0;
  animation: fade 300ms ease-out 600ms forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-text {
  margin-left: 18%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.hero-text h1 {
  text-transform: uppercase;
  font-size: 150px;
  font-weight: 400;
  font-family: 'Bellefair', serif;
}

.hero-text p {
  line-height: 32px;
  font-size: 18px;
  font-family: 'Barlow Condensed', sans-serif;
  color: #D0D6F9;
}

.first-p {
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'Barlow Condensed', sans-serif;
  color: #D0D6F9;
}

.explore {
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore-container {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 14rem; height: 14rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-out;
}

.explore-container:hover {
  outline: 40px solid rgb(151, 151, 151, 0.5);
  transition: all 300ms ease-out;
}

.explore button {
  background: transparent;
  border: none;
}

.explore button a {
  color: #0B0D17;
  font-size: 28px;
  text-transform: uppercase;
  font-family: 'Bellefair', serif;
  text-decoration: none;
}

.hamburger {
  display: none;
  animation: slideLeft 300ms ease-in 300ms forwards;
  position: relative;
  z-index: 3;
}

@media screen and (max-width:840px) {
  body {
    background: url(/starter-code/assets/home/background-home-tablet.jpg) no-repeat;
  }
  
  nav ul {
    padding-inline-start: 5%;
    padding-inline-end: 5%;
    margin-top: 0;
  }

  .logo {
    margin-top: 0;
  }

  .nav-num {
    display: none;
  }

  .divider {
    display: none;
  }

  .hero-container {
    grid-template-columns: 100%;
    margin-top: 8rem;
  }

  .hero-text {
    margin-inline: 10%;
    text-align: center;
    align-items: center;
  }

  .explore {
    margin-top: 7rem;
  }

}

@media screen and (max-width:550px) {
  body {
    position: relative;
  }

  nav {
    margin-inline: 10%;
  }

  .logo {
    margin-top: 3rem;
  }

  .hamburger {
    display: flex;
    margin-top: 3rem;
    color: #ffffff;
    z-index: 2;
    cursor: pointer;
    font-size: 30px;
    transition: all 200ms ease;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 70vw;
    padding-block-start: 10rem;
    opacity: 0;
    transition: all 300ms ease-in-out ;
    transform: translateX(0);
    animation: none;
  }

  .nav-active {
    opacity: 1;
  }

  .current-page {
    border-bottom: 0;
  }

  .nav-num {
    display: flex;
  }

  nav ul li a {
    display: flex;
    padding-block: 1rem;
  }

  .hero-container {
    margin-top: 4rem;
  }

  .first-p {
    font-size: 16px;
  }

  .hero-text h1 {
    font-size: 80px;
  }

  .hero-text p {
    font-size: 15px;
  }

  .explore-container {
    height: 150px; width: 150px;
  }

  .explore button a {
    font-size: 20px;
  } 
}